<% flash.each do |type, message| %>
  <div style="color:blue">
    <%= message %>
  </div>
<% end %>

<% if user.errors.any? %>
  <div id="error_message" style="color:red;">
    <p><strong><%= pluralize(user.errors.count, "error") %></strong> stopped this User from being created/updated:</p>
    <ul>
      <% user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: user, data: { turbo: false } do |form| %>
  <div class="username">
    <%= form.label "Enter a unique Username:" %><br>
    <%= form.text_field(:username, placeholder: 'username') %>
  </div>
  <div class="email">
    <%= form.label(:email) %><br>
    <%= form.text_field(:email, placeholder: 'username@example.com') %>
  </div>
  <div class="password">
    <%= form.label(:password) %><br>
    <%= form.password_field(:password, placeholder: '(3-20 characters)') %>
  </div><br>
  <div class="submit_button">
    <%= form.submit('Submit') %>
  </div>
<% end %>