<h2>New User Form</h2>
<%# <form method="post" action="/users" accept-charset="UTF-8"> %>
<%# <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>
  <%# <label for="username">Username:</label> %>
  <%# <input type="text" id="username" name="username"><br><br> %>
  <%# <label for="email">Email:</label> %>
  <%# <input type="text" id="email" name="email"><br><br> %>
  <%# <label for="password">Password:</label> %>
  <%# <input type="password" id="password" name="password"><br><br> %>
  <%# <input type="submit" value="Submit"> %>
<%# </form> %>

<%# <form method="post" action="/users" accept-charset="UTF-8"> %>
<%# <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>
  <%# <label for="username">Username:</label> %>
  <%# <input type="text" id="username" name="user[username]"><br><br> %>
  <%# <label for="email">Email:</label> %>
  <%# <input type="text" id="email" name="user[email]"><br><br> %>
  <%# <label for="password">Password:</label> %>
  <%# <input type="password" id="password" name="user[password]"><br><br> %>
  <%# <input type="submit" value="Submit"> %>
<%# </form> %>

<%# <%= form_tag('/users', method: "post") do %>
  <%# <%= label_tag(:username, 'username') %>
  <%# <%= text_field_tag(:username) %>
  <%# <%= label_tag(:email, 'email') %>
  <%# <%= text_field_tag(:email) %>
  <%# <%= label_tag(:password, 'password') %>
  <%# <%= password_field_tag(:password) %>
  <%# <%= submit_tag('Submit') %>
<%# <% end %>

<%# <%= form_with model: @user do |form| %>
  <%# <%= form.label "Enter a unique Username:" %>
  <%# <%= form.text_field(:username, placeholder: 'username') %>
  <%# <%= form.label(:email) %>
  <%# <%= form.text_field(:email, placeholder: 'username@example.com') %>
  <%# <%= form.label(:password) %>
  <%# <%= form.password_field(:password, placeholder: 'password@123') %>
  <%# <%= form.submit('Submit') %>
<%# <% end %>

<%= render partial: 'user', locals: {user: @user }%>